@{
    ViewData["Title"] = "Access Denied";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        You do not have permissions to access that page. Please <a asp-controller="Home" asp-action="Index">Click here to return to the home page</a>.
    </p>
</div>
