@model IndecisionEngine.ViewModels.StoryExplorer.GraphViewModel

@{
    ViewData["Title"] = "Story Graph";

    // http://knsv.github.io/mermaid/flowchart.html
    var builder = new StringBuilder();
    builder.AppendLine("graph TD");
    builder.AppendLine($"Seed({Model.Seed.Title})");
    builder.AppendLine($"Seed-->E{Model.Seed.FirstEntryId}");

    foreach (var entry in Model.Entries)
    {
        builder.AppendLine($"E{entry.Id}({entry.Body})");

    }

    foreach (var transition in Model.Transitions)
    {
        var choice = Model.Choices.FirstOrDefault(c => c.Id == transition.ChoiceId);

        builder.AppendLine($"E{transition.PriorEntryId}-- {choice.Body} -->E{transition.NextEntryId}");
        // or:
        // builder.AppendLine($"E{transition.PriorEntryId}-.->T{transition.Id}({choice.Body})");
        // builder.AppendLine($"T{transition.Id}({choice.Body})-.->E{transition.NextEntryId}");
    }

    var graph = builder.ToString();
}

<!--<h2>Index</h2> TODO: Title-->

<!--TODO: <environment names="Development"> See _Layout.cshtml-->
<link rel="stylesheet" type="text/css" href="~/css/graph.css">
<script src="~/lib/mermaid/dist/mermaid.js"></script>
<script>mermaid.initialize({startOnLoad:true});</script>

<div class="mermaid">
    @graph
</div>
