@model IndecisionEngine.ViewModels.StoryExplorer.GraphViewModel

@{
    ViewData["Title"] = "Story Graph";

    // http://knsv.github.io/mermaid/flowchart.html
    var builder = new StringBuilder();
    builder.AppendLine("graph TD");
    builder.AppendLine($"Seed({Model.Seed.Title})");
    builder.AppendLine($"Seed-->E{Model.Seed.FirstEntryId}");

    foreach (var entry in Model.Entries)
    {
        var bodyText = entry.Body.Replace("\"", "#quot;");
        builder.AppendLine($"E{entry.Id}(\"{bodyText}\")");

        // TODO: Add links to entries, but it breaks when it reaches the first 'click' line
        // click B "http://www.github.com" "This is a tooltip for a link"
        /*
        // var link = Url.Action("Index", new { id = entry.Id });
        var link = Url.Action("Index", "StoryExplorer", new { id = entry.Id },
            Context.Request.Scheme, Context.Request.Host.ToString());

        builder.AppendLine($"click E{entry.Id} \"{link}\"");*/
    }

    foreach (var transition in Model.Transitions)
    {
        var choice = Model.Choices.FirstOrDefault(c => c.Id == transition.ChoiceId);

        builder.AppendLine($"E{transition.PriorEntryId}-- {choice.Body.Replace("-", "")} -->E{transition.NextEntryId}");
        // or:
        // builder.AppendLine($"E{transition.PriorEntryId}-.->T{transition.Id}({choice.Body})");
        // builder.AppendLine($"T{transition.Id}({choice.Body})-.->E{transition.NextEntryId}");
    }

    var graph = builder.ToString();
}

<!--<h2>Index</h2> TODO: Title-->

<!--TODO: <environment names="Development"> See _Layout.cshtml-->
<link rel="stylesheet" type="text/css" href="~/lib/mermaid/dist/mermaid.css">
<link rel="stylesheet" type="text/css" href="~/css/graph.css">
<script src="~/lib/mermaid/dist/mermaid.js"></script>
<script>
    mermaid.initialize({ startOnLoad: true, cloneCssStyles: false });
</script>

<div class="mermaid">
    @graph
</div>
