@model IndecisionEngine.ViewModels.StoryTransitions.StoryTransitionViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>StoryTransition</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="PriorEntryId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PriorEntryId, new SelectList(Model.Entries, "Id", "Body"), "")
                <span asp-validation-for="PriorEntryId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Preconditions" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Preconditions" class="form-control" />
                <span asp-validation-for="Preconditions" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ChoiceId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ChoiceId, new SelectList(Model.Choices, "Id", "Body"), "")
                <span asp-validation-for="ChoiceId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Effects" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Effects" class="form-control" />
                <span asp-validation-for="Effects" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NextEntryId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.NextEntryId, new SelectList(Model.Entries, "Id", "Body"), "")
                <span asp-validation-for="NextEntryId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
